body {
  background: blue;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

*, :after, :before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

body {
  overflow-x: hidden;
  margin: 0
}

article, aside, figcaption, figure, footer, header, main, nav, section {
  display: block
}

figure {
  margin: 1em 2em
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

code, kbd, pre, samp {
  font-size: 1em
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

b, strong {
  font-weight: inherit;
  font-weight: bolder
}

dfn {
  font-style: italic
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

audio, video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

img {
  border-style: none
}

svg {
  fill: currentColor;
  vertical-align: middle
}

svg:not(:root) {
  overflow: hidden
}

button, input, optgroup, select, textarea {
  margin: 0
}

button, input {
  overflow: visible
}

button, select {
  text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  display: inline-block;
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details, menu {
  display: block
}

summary {
  display: list-item
}

canvas {
  display: inline-block
}

[hidden], template {
  display: none
}

html {
  font-size: 18px;
  line-height: 1.8
}

body {
  font-family: Nunito Sans, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #818999;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

code, kbd, pre, samp {
  font-family: Fira Code, Lucida Console, Monaco, monospace
}

mark {
  background-color: #FFDE66;
  color: #818999
}

a {
  color: #FFF;
  text-decoration: none
}

a:hover {
  color: #ED145B
}

.heading--h1, .heading--h2, .heading--h3, .heading--h4, .heading--h5, .heading--h6, h1, h2, h3, h4, h5, h6 {
  color: #FFF;
  line-height: 1.25;
  font-family: Lato, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400
}

.heading--h1, h1 {
  font-size: 1.77778em
}

.heading--h2, h2 {
  font-size: 1.5em
}

.heading--h3, h3 {
  font-size: 1em
}

.heading--h4, h4 {
  font-size: .88889em
}

.heading--h5, h5 {
  font-size: .77778em
}

.heading--h6, h6 {
  font-size: .66667em
}

@media (min-width: 42.5em) {
  .heading--h1, h1 {
    font-size: 2.5em
  }

  .heading--h2, h2 {
    font-size: 2em
  }

  .heading--h3, h3 {
    font-size: 1.5em
  }

  .heading--h4, h4 {
    font-size: 1.16667em
  }

  .heading--h5, h5 {
    font-size: 1em
  }

  .heading--h6, h6 {
    font-size: .77778em
  }
}

.container {
  display: block;
  width: 100%;
  max-width: 100%
}

.container--small {
  max-width: 30em
}

.container--medium {
  max-width: 42.5em
}

.container--large {
  max-width: 48em
}

.container--xlarge {
  max-width: 64em
}

.container--xxlarge {
  max-width: 77.5em
}

.container--center {
  margin-left: auto;
  margin-right: auto
}

.main__body table, .table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  border-top: 1px solid #32333F
}

.main__body table tfoot, .main__body table thead, .table__footer, .table__head {
  background-color: #32333F
}

.main__body table td, .main__body table th, .table__cell {
  vertical-align: top;
  padding: .375em .5625em;
  border: 1px solid #32333F;
  border-width: 0 0 1px
}

.main__body table .table--condense td, .main__body table .table--condense th, .table--condense .main__body table td, .table--condense .main__body table th, .table--condense .table__cell {
  padding: .375em .5625em
}

.table--border {
  border: 1px solid #32333F
}

.main__body table .table--border td, .main__body table .table--border th, .table--border .main__body table td, .table--border .main__body table th, .table--border .table__cell {
  border-width: 1px
}

.table--hoverable .table__row:hover {
  background-color: #32333F
}

.table--scoreboard {
  border-width: 0
}

.main__body table .table--scoreboard td, .main__body table .table--scoreboard th, .table--scoreboard .main__body table td, .table--scoreboard .main__body table th, .table--scoreboard .table__cell {
  border-width: 1px
}

.main__body table .table--scoreboard td:first-child, .main__body table .table--scoreboard th:first-child, .table--scoreboard .main__body table td:first-child, .table--scoreboard .main__body table th:first-child, .table--scoreboard .table__cell:first-child {
  border-left-width: 0
}

.main__body table .table--scoreboard td:last-child, .main__body table .table--scoreboard th:last-child, .table--scoreboard .main__body table td:last-child, .table--scoreboard .main__body table th:last-child, .table--scoreboard .table__cell:last-child {
  border-right-width: 0
}

.main__body table .table--scoreboard > :first-child td, .main__body table .table--scoreboard > :first-child th, .table--scoreboard > :first-child .main__body table td, .table--scoreboard > :first-child .main__body table th, .table--scoreboard > :first-child .table__cell {
  border-top: 0
}

.main__body table .table--scoreboard > :last-child td, .main__body table .table--scoreboard > :last-child th, .table--scoreboard > :last-child .main__body table td, .table--scoreboard > :last-child .main__body table th, .table--scoreboard > :last-child .table__cell {
  border-bottom: 0
}

.table--stripe .table__row:nth-child(2n) {
  background-color: #343542
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -.5625em;
  margin-right: -.5625em
}

@media (min-width: 48em) {
  .grid {
    margin-left: -.75em;
    margin-right: -.75em
  }
}

.grid__column {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 100%;
  padding-left: .5625em;
  padding-right: .5625em
}

@media (min-width: 48em) {
  .grid__column {
    padding-left: .75em;
    padding-right: .75em
  }
}

.grid__column--1 {
  -ms-flex-preferred-size: 8.33333%;
  flex-basis: 8.33333%;
  max-width: 8.33333%
}

.grid__column--2 {
  -ms-flex-preferred-size: 16.66667%;
  flex-basis: 16.66667%;
  max-width: 16.66667%
}

.grid__column--3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%
}

.grid__column--4 {
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%;
  max-width: 33.33333%
}

.grid__column--5 {
  -ms-flex-preferred-size: 41.66667%;
  flex-basis: 41.66667%;
  max-width: 41.66667%
}

.grid__column--6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%
}

.grid__column--7 {
  -ms-flex-preferred-size: 58.33333%;
  flex-basis: 58.33333%;
  max-width: 58.33333%
}

.grid__column--8 {
  -ms-flex-preferred-size: 66.66667%;
  flex-basis: 66.66667%;
  max-width: 66.66667%
}

.grid__column--9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%
}

.grid__column--10 {
  -ms-flex-preferred-size: 83.33333%;
  flex-basis: 83.33333%;
  max-width: 83.33333%
}

.grid__column--11 {
  -ms-flex-preferred-size: 91.66667%;
  flex-basis: 91.66667%;
  max-width: 91.66667%
}

.grid__column--12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%
}

@media (min-width: 30em) {
  .grid__column--1\@small {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%
  }

  .grid__column--2\@small {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%
  }

  .grid__column--3\@small {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%
  }

  .grid__column--4\@small {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%
  }

  .grid__column--5\@small {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%
  }

  .grid__column--6\@small {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%
  }

  .grid__column--7\@small {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%
  }

  .grid__column--8\@small {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%
  }

  .grid__column--9\@small {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%
  }

  .grid__column--10\@small {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%
  }

  .grid__column--11\@small {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%
  }

  .grid__column--12\@small {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%
  }
}

@media (min-width: 42.5em) {
  .grid__column--1\@medium {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%
  }

  .grid__column--2\@medium {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%
  }

  .grid__column--3\@medium {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%
  }

  .grid__column--4\@medium {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%
  }

  .grid__column--5\@medium {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%
  }

  .grid__column--6\@medium {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%
  }

  .grid__column--7\@medium {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%
  }

  .grid__column--8\@medium {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%
  }

  .grid__column--9\@medium {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%
  }

  .grid__column--10\@medium {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%
  }

  .grid__column--11\@medium {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%
  }

  .grid__column--12\@medium {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%
  }
}

@media (min-width: 48em) {
  .grid__column--1\@large {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%
  }

  .grid__column--2\@large {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%
  }

  .grid__column--3\@large {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%
  }

  .grid__column--4\@large {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%
  }

  .grid__column--5\@large {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%
  }

  .grid__column--6\@large {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%
  }

  .grid__column--7\@large {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%
  }

  .grid__column--8\@large {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%
  }

  .grid__column--9\@large {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%
  }

  .grid__column--10\@large {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%
  }

  .grid__column--11\@large {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%
  }

  .grid__column--12\@large {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%
  }
}

@media (min-width: 64em) {
  .grid__column--1\@xlarge {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%
  }

  .grid__column--2\@xlarge {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%
  }

  .grid__column--3\@xlarge {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%
  }

  .grid__column--4\@xlarge {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%
  }

  .grid__column--5\@xlarge {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%
  }

  .grid__column--6\@xlarge {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%
  }

  .grid__column--7\@xlarge {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%
  }

  .grid__column--8\@xlarge {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%
  }

  .grid__column--9\@xlarge {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%
  }

  .grid__column--10\@xlarge {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%
  }

  .grid__column--11\@xlarge {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%
  }

  .grid__column--12\@xlarge {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%
  }
}

@media (min-width: 77.5em) {
  .grid__column--1\@xxlarge {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%
  }

  .grid__column--2\@xxlarge {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%
  }

  .grid__column--3\@xxlarge {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%
  }

  .grid__column--4\@xxlarge {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%
  }

  .grid__column--5\@xxlarge {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%
  }

  .grid__column--6\@xxlarge {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%
  }

  .grid__column--7\@xxlarge {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%
  }

  .grid__column--8\@xxlarge {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%
  }

  .grid__column--9\@xxlarge {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%
  }

  .grid__column--10\@xxlarge {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%
  }

  .grid__column--11\@xxlarge {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%
  }

  .grid__column--12\@xxlarge {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%
  }
}

.grid__column--shrink {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto
}

.grid__column--middle {
  -ms-flex-item-align: center;
  align-self: center
}

.grid__column--bottom {
  -ms-flex-item-align: end;
  align-self: flex-end
}

.grid__column--baseline {
  -ms-flex-item-align: baseline;
  align-self: baseline
}

.grid__column--stretch {
  -ms-flex-item-align: stretch;
  align-self: stretch
}

.grid--right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.grid--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.grid--justify {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.grid--space {
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.grid--middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.grid--bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end
}

.grid--stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch
}

.grid--stack {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

@media (max-width: 42.4375em) {
  .grid--stackable {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .grid--stackable > .grid__column {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: 100%
  }
}

.grid--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse
}

.grid--reverse.grid--stack {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse
}

@media (max-width: 42.4375em) {
  .grid--reverse.grid--stackable {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}

.grid--gapless {
  margin-left: 0;
  margin-right: 0
}

.grid--gapless > .grid__column {
  padding-left: 0;
  padding-right: 0
}

.grid--waffle {
  margin: -.5625em
}

@media (min-width: 48em) {
  .grid--waffle {
    margin: -.75em
  }
}

.grid--waffle .grid__column {
  padding: .5625em
}

@media (min-width: 48em) {
  .grid--waffle .grid__column {
    padding: .75em
  }
}

.list {
  display: block;
  padding-left: 1em
}

.list__item {
  display: list-item
}

.list--unstyle {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0
}

.list--inline .list__item {
  display: inline-block
}

.heading, .paragraph {
  margin: 0
}

.button {
  font-size: 1em;
  padding: .375em 1.125em;
  color: #000;
  background-color: #FFF;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: inherit;
  text-decoration: none;
  outline: 0;
  font-weight: 400;
  text-align: center;
  border-radius: 1.6875rem;
  border: 2px solid transparent
}

.button:active, .button:focus, .button:hover {
  color: #000;
  background-color: #C1CDE5
}

.button__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  color: #000
}

.button__icon {
  display: inline-block
}

img.button__icon, svg.button__icon {
  vertical-align: sub
}

.button--xsmall {
  font-size: .61111em
}

.button--small {
  font-size: .77778em
}

.button--large {
  font-size: 1.11111em
}

.button--primary {
  color: #FFF;
  background-color: #ED145B
}

.button--primary:active, .button--primary:focus, .button--primary:hover {
  color: #FFF;
  background-color: #BF0F48
}

.button--primary .button__cover, .button--primary:active .button__cover, .button--primary:focus .button__cover, .button--primary:hover .button__cover {
  color: #FFF
}

.button--secondary {
  color: #FFF;
  background-color: #7B31F4
}

.button--secondary:active, .button--secondary:focus, .button--secondary:hover {
  color: #FFF;
  background-color: #5F0CE6
}

.button--secondary .button__cover, .button--secondary:active .button__cover, .button--secondary:focus .button__cover, .button--secondary:hover .button__cover {
  color: #FFF
}

.button--hollow {
  background-color: transparent;
  color: #FFF;
  border: 2px solid #969FB3
}

.button--hollow:active, .button--hollow:focus, .button--hollow:hover {
  background-color: transparent;
  color: #FFF;
  border-color: #FFF
}

.button--hollow.button--primary {
  color: #ED145B;
  border-color: #ED145B
}

.button--hollow.button--primary:active, .button--hollow.button--primary:focus, .button--hollow.button--primary:hover {
  color: #FFF;
  border-color: #BF0F48
}

.button--hollow.button--primary:active .button__cover, .button--hollow.button--primary:focus .button__cover, .button--hollow.button--primary:hover .button__cover {
  color: #FFF
}

.button--hollow.button--primary .button__cover {
  color: #ED145B
}

.button--hollow.button--secondary {
  color: #7B31F4;
  border-color: #7B31F4
}

.button--hollow.button--secondary:active, .button--hollow.button--secondary:focus, .button--hollow.button--secondary:hover {
  color: #FFF;
  border-color: #5F0CE6
}

.button--hollow.button--secondary:active .button__cover, .button--hollow.button--secondary:focus .button__cover, .button--hollow.button--secondary:hover .button__cover {
  color: #FFF
}

.button--hollow.button--secondary .button__cover {
  color: #7B31F4
}

.button--wide {
  padding-left: 2.22222em;
  padding-right: 2.22222em
}

.button--expand {
  display: block;
  width: 100%
}

.button--cover {
  cursor: auto;
  color: transparent !important
}

.button--cover .button__cover {
  opacity: 1
}

.button--curtain:active, .button--curtain:focus, .button--curtain:hover {
  color: transparent !important
}

.button--curtain:active .button__cover, .button--curtain:focus .button__cover, .button--curtain:hover .button__cover {
  opacity: 1
}

.button--disable, .button:disabled {
  cursor: default;
  opacity: .5;
  pointer-events: none;
  background-image: none
}

.space > * + * {
  margin-top: 0
}

.space--xsmall > * + * {
  margin-top: .1875em
}

.space--small > * + * {
  margin-top: .375em
}

.space--medium > * + * {
  margin-top: .5625em
}

.space--large > * + * {
  margin-top: 1.125em
}

.space--xlarge > * + * {
  margin-top: 1.5em
}

.space--xxlarge > * + * {
  margin-top: 2.25em
}

.space--big > * + * {
  margin-top: 5.3125em
}

.space--xsmall\@xsmall > * + * {
  margin-top: .1875em
}

.space--small\@xsmall > * + * {
  margin-top: .375em
}

.space--medium\@xsmall > * + * {
  margin-top: .5625em
}

.space--large\@xsmall > * + * {
  margin-top: 1.125em
}

.space--xlarge\@xsmall > * + * {
  margin-top: 1.5em
}

.space--xxlarge\@xsmall > * + * {
  margin-top: 2.25em
}

.space--big\@xsmall > * + * {
  margin-top: 5.3125em
}

@media (min-width: 30em) {
  .space--xsmall\@small > * + * {
    margin-top: .1875em
  }
}

@media (min-width: 30em) {
  .space--small\@small > * + * {
    margin-top: .375em
  }
}

@media (min-width: 30em) {
  .space--medium\@small > * + * {
    margin-top: .5625em
  }
}

@media (min-width: 30em) {
  .space--large\@small > * + * {
    margin-top: 1.125em
  }
}

@media (min-width: 30em) {
  .space--xlarge\@small > * + * {
    margin-top: 1.5em
  }
}

@media (min-width: 30em) {
  .space--xxlarge\@small > * + * {
    margin-top: 2.25em
  }
}

@media (min-width: 30em) {
  .space--big\@small > * + * {
    margin-top: 5.3125em
  }
}

@media (min-width: 42.5em) {
  .space--xsmall\@medium > * + * {
    margin-top: .1875em
  }
}

@media (min-width: 42.5em) {
  .space--small\@medium > * + * {
    margin-top: .375em
  }
}

@media (min-width: 42.5em) {
  .space--medium\@medium > * + * {
    margin-top: .5625em
  }
}

@media (min-width: 42.5em) {
  .space--large\@medium > * + * {
    margin-top: 1.125em
  }
}

@media (min-width: 42.5em) {
  .space--xlarge\@medium > * + * {
    margin-top: 1.5em
  }
}

@media (min-width: 42.5em) {
  .space--xxlarge\@medium > * + * {
    margin-top: 2.25em
  }
}

@media (min-width: 42.5em) {
  .space--big\@medium > * + * {
    margin-top: 5.3125em
  }
}

@media (min-width: 48em) {
  .space--xsmall\@large > * + * {
    margin-top: .1875em
  }
}

@media (min-width: 48em) {
  .space--small\@large > * + * {
    margin-top: .375em
  }
}

@media (min-width: 48em) {
  .space--medium\@large > * + * {
    margin-top: .5625em
  }
}

@media (min-width: 48em) {
  .space--large\@large > * + * {
    margin-top: 1.125em
  }
}

@media (min-width: 48em) {
  .space--xlarge\@large > * + * {
    margin-top: 1.5em
  }
}

@media (min-width: 48em) {
  .space--xxlarge\@large > * + * {
    margin-top: 2.25em
  }
}

@media (min-width: 48em) {
  .space--big\@large > * + * {
    margin-top: 5.3125em
  }
}

@media (min-width: 64em) {
  .space--xsmall\@xlarge > * + * {
    margin-top: .1875em
  }
}

@media (min-width: 64em) {
  .space--small\@xlarge > * + * {
    margin-top: .375em
  }
}

@media (min-width: 64em) {
  .space--medium\@xlarge > * + * {
    margin-top: .5625em
  }
}

@media (min-width: 64em) {
  .space--large\@xlarge > * + * {
    margin-top: 1.125em
  }
}

@media (min-width: 64em) {
  .space--xlarge\@xlarge > * + * {
    margin-top: 1.5em
  }
}

@media (min-width: 64em) {
  .space--xxlarge\@xlarge > * + * {
    margin-top: 2.25em
  }
}

@media (min-width: 64em) {
  .space--big\@xlarge > * + * {
    margin-top: 5.3125em
  }
}

@media (min-width: 77.5em) {
  .space--xsmall\@xxlarge > * + * {
    margin-top: .1875em
  }
}

@media (min-width: 77.5em) {
  .space--small\@xxlarge > * + * {
    margin-top: .375em
  }
}

@media (min-width: 77.5em) {
  .space--medium\@xxlarge > * + * {
    margin-top: .5625em
  }
}

@media (min-width: 77.5em) {
  .space--large\@xxlarge > * + * {
    margin-top: 1.125em
  }
}

@media (min-width: 77.5em) {
  .space--xlarge\@xxlarge > * + * {
    margin-top: 1.5em
  }
}

@media (min-width: 77.5em) {
  .space--xxlarge\@xxlarge > * + * {
    margin-top: 2.25em
  }
}

@media (min-width: 77.5em) {
  .space--big\@xxlarge > * + * {
    margin-top: 5.3125em
  }
}

.gutter > * + * {
  margin-left: 0
}

.gutter--xsmall > * + * {
  margin-left: .1875em
}

.gutter--small > * + * {
  margin-left: .375em
}

.gutter--medium > * + * {
  margin-left: .5625em
}

.gutter--large > * + * {
  margin-left: 1.125em
}

.gutter--xlarge > * + * {
  margin-left: 1.5em
}

.gutter--xxlarge > * + * {
  margin-left: 2.25em
}

.gutter--big > * + * {
  margin-left: 5.3125em
}

.gutter--xsmall\@xsmall > * + * {
  margin-left: .1875em
}

.gutter--small\@xsmall > * + * {
  margin-left: .375em
}

.gutter--medium\@xsmall > * + * {
  margin-left: .5625em
}

.gutter--large\@xsmall > * + * {
  margin-left: 1.125em
}

.gutter--xlarge\@xsmall > * + * {
  margin-left: 1.5em
}

.gutter--xxlarge\@xsmall > * + * {
  margin-left: 2.25em
}

.gutter--big\@xsmall > * + * {
  margin-left: 5.3125em
}

@media (min-width: 30em) {
  .gutter--xsmall\@small > * + * {
    margin-left: .1875em
  }
}

@media (min-width: 30em) {
  .gutter--small\@small > * + * {
    margin-left: .375em
  }
}

@media (min-width: 30em) {
  .gutter--medium\@small > * + * {
    margin-left: .5625em
  }
}

@media (min-width: 30em) {
  .gutter--large\@small > * + * {
    margin-left: 1.125em
  }
}

@media (min-width: 30em) {
  .gutter--xlarge\@small > * + * {
    margin-left: 1.5em
  }
}

@media (min-width: 30em) {
  .gutter--xxlarge\@small > * + * {
    margin-left: 2.25em
  }
}

@media (min-width: 30em) {
  .gutter--big\@small > * + * {
    margin-left: 5.3125em
  }
}

@media (min-width: 42.5em) {
  .gutter--xsmall\@medium > * + * {
    margin-left: .1875em
  }
}

@media (min-width: 42.5em) {
  .gutter--small\@medium > * + * {
    margin-left: .375em
  }
}

@media (min-width: 42.5em) {
  .gutter--medium\@medium > * + * {
    margin-left: .5625em
  }
}

@media (min-width: 42.5em) {
  .gutter--large\@medium > * + * {
    margin-left: 1.125em
  }
}

@media (min-width: 42.5em) {
  .gutter--xlarge\@medium > * + * {
    margin-left: 1.5em
  }
}

@media (min-width: 42.5em) {
  .gutter--xxlarge\@medium > * + * {
    margin-left: 2.25em
  }
}

@media (min-width: 42.5em) {
  .gutter--big\@medium > * + * {
    margin-left: 5.3125em
  }
}

@media (min-width: 48em) {
  .gutter--xsmall\@large > * + * {
    margin-left: .1875em
  }
}

@media (min-width: 48em) {
  .gutter--small\@large > * + * {
    margin-left: .375em
  }
}

@media (min-width: 48em) {
  .gutter--medium\@large > * + * {
    margin-left: .5625em
  }
}

@media (min-width: 48em) {
  .gutter--large\@large > * + * {
    margin-left: 1.125em
  }
}

@media (min-width: 48em) {
  .gutter--xlarge\@large > * + * {
    margin-left: 1.5em
  }
}

@media (min-width: 48em) {
  .gutter--xxlarge\@large > * + * {
    margin-left: 2.25em
  }
}

@media (min-width: 48em) {
  .gutter--big\@large > * + * {
    margin-left: 5.3125em
  }
}

@media (min-width: 64em) {
  .gutter--xsmall\@xlarge > * + * {
    margin-left: .1875em
  }
}

@media (min-width: 64em) {
  .gutter--small\@xlarge > * + * {
    margin-left: .375em
  }
}

@media (min-width: 64em) {
  .gutter--medium\@xlarge > * + * {
    margin-left: .5625em
  }
}

@media (min-width: 64em) {
  .gutter--large\@xlarge > * + * {
    margin-left: 1.125em
  }
}

@media (min-width: 64em) {
  .gutter--xlarge\@xlarge > * + * {
    margin-left: 1.5em
  }
}

@media (min-width: 64em) {
  .gutter--xxlarge\@xlarge > * + * {
    margin-left: 2.25em
  }
}

@media (min-width: 64em) {
  .gutter--big\@xlarge > * + * {
    margin-left: 5.3125em
  }
}

@media (min-width: 77.5em) {
  .gutter--xsmall\@xxlarge > * + * {
    margin-left: .1875em
  }
}

@media (min-width: 77.5em) {
  .gutter--small\@xxlarge > * + * {
    margin-left: .375em
  }
}

@media (min-width: 77.5em) {
  .gutter--medium\@xxlarge > * + * {
    margin-left: .5625em
  }
}

@media (min-width: 77.5em) {
  .gutter--large\@xxlarge > * + * {
    margin-left: 1.125em
  }
}

@media (min-width: 77.5em) {
  .gutter--xlarge\@xxlarge > * + * {
    margin-left: 1.5em
  }
}

@media (min-width: 77.5em) {
  .gutter--xxlarge\@xxlarge > * + * {
    margin-left: 2.25em
  }
}

@media (min-width: 77.5em) {
  .gutter--big\@xxlarge > * + * {
    margin-left: 5.3125em
  }
}

.glide {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.glide * {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

.glide__slides, .glide__track {
  overflow: hidden
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -ms-touch-action: pan-Y;
  touch-action: pan-Y;
  padding: 0;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  will-change: transform
}

.glide__slide, .glide__slides--dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.glide__slide {
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  white-space: normal;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent
}

.glide__slide a {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none
}

.glide__arrows, .glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.glide--rtl {
  direction: rtl
}

html {
  overflow-x: hidden
}

a {
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

.heading--h1, .heading--h2, .heading--h3, .heading--h4, .heading--h5, .heading--h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: .5em
}

@media (min-width: 42.5em) {
  .heading--h1, .heading--h2, .heading--h3, .heading--h4, .heading--h5, .heading--h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em
  }
}

p {
  margin-top: 1.25em;
  margin-bottom: 1em
}

pre, table {
  margin-top: 1.5em;
  margin-bottom: 1.5em
}

ul {
  padding-left: 1em
}

blockquote {
  margin: 2em 0
}

.main {
  margin-left: -2rem;
  margin-right: -2rem
}

.main > * {
  padding-left: 2rem;
  padding-right: 2rem
}

.main > * + * {
  border-left: 1px solid #32333F
}

.main__side {
  display: none
}

@media (min-width: 42.5em) {
  .main__side {
    display: initial
  }
}

.main__body, .main__sidebar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

@media (min-width: 42.5em) {
  .main__body, .main__sidebar {
    padding-top: 3rem;
    padding-bottom: 3rem
  }
}

@media (min-width: 77.5em) {
  .main__content {
    padding-right: 20%
  }
}

.main__body a:not([class]) {
  color: #C1CDE5;
  text-decoration: underline
}

.main__body a:not([class]):hover {
  color: #7B31F4
}

.main__body .heading--h1 code, .main__body .heading--h2 code, .main__body .heading--h3 code, .main__body .heading--h4 code, .main__body .heading--h5 code, .main__body .heading--h6 code, .main__body h1 code, .main__body h2 code, .main__body h3 code, .main__body h4 code, .main__body h5 code, .main__body h6 code {
  font-size: .8em;
  font-weight: 400;
  vertical-align: middle
}

.main__body .heading--h1 small, .main__body .heading--h2 small, .main__body .heading--h3 small, .main__body .heading--h4 small, .main__body .heading--h5 small, .main__body .heading--h6 small, .main__body h1 small, .main__body h2 small, .main__body h3 small, .main__body h4 small, .main__body h5 small, .main__body h6 small {
  margin-left: .5em;
  font-size: .5em
}

@media (min-width: 77.5em) {
  .main__body pre {
    width: calc(120% + 1.5rem);
    margin-left: -1.5rem
  }
}

.main__body strong {
  color: #FFF
}

@media (min-width: 77.5em) {
  .main__body blockquote {
    width: calc(120% + 1.5rem);
    margin-left: -1.5rem
  }
}

.wrapper {
  padding-left: 1rem;
  padding-right: 1rem
}

.hr, .main__body hr {
  border-color: #32333F;
  margin-top: 3em;
  margin-bottom: 3em;
  border-width: 1px
}

.main__body pre, .pre {
  color: #C1CDE5;
  border-radius: .33333em;
  background-color: #000;
  padding: 1em 1.2em;
  font-size: .9em
}

.main__body pre code, .pre code {
  background-color: transparent;
  color: #FFF;
  padding: 0
}

.nav__item--active .nav__link {
  display: inline-block;
  position: relative;
  color: #FFF
}

.nav__item--active .nav__link:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ED145B
}

.nav__link {
  color: #969FB3
}

.nav__link:hover {
  color: #FFF
}

.logo {
  font-size: 2em
}

.lead {
  font-family: Nunito Sans, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #818999;
  font-weight: 300;
  line-height: 1.8em
}

.code, .main__body code {
  background-color: #1B1C23;
  border-radius: .25em;
  padding: .25em;
  color: #67CDCC
}

.hero {
  text-align: center
}

.hero__wrapper {
  position: relative
}

.hero__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 3rem;
  padding-right: 3rem;
  -webkit-transform: translate(-50%, -66.66%);
  transform: translate(-50%, -66.66%)
}

.hero__logo {
  width: 100%;
  max-width: 180px;
  fill: #FFF
}

@media (min-width: 42.5em) {
  .hero__logo {
    max-width: 360px
  }
}

.menu {
  text-transform: uppercase;
  font-size: .77778em;
  letter-spacing: .16667em;
  font-weight: 300
}

.image--middle {
  vertical-align: middle
}

.input {
  background-color: transparent;
  border: 1px solid #32333F;
  padding: .5em;
  color: #FFF;
  font-size: .8em;
  border-radius: 0
}

.input--large {
  font-size: 1.25em
}

.input--inline {
  display: inline-block;
  vertical-align: middle;
  margin: 0 .25em
}

.input--pill {
  border-radius: 1.5em
}

.input--expand {
  width: 100%;
  display: block
}

.input--disabled, .input[disabled] {
  background-color: #1B1C23;
  color: #818999
}

.glide {
  cursor: -webkit-grab
}

.glide__slides {
  margin: 0
}

.glide__arrow {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: 0
}

.glide--dragging {
  cursor: -webkit-grabbing
}

.panel {
  padding: 3.61111em 2em;
  background: -webkit-gradient(linear, left top, right top, from(#3E0C1C), to(#2D0F5E));
  background: linear-gradient(90deg, #3E0C1C 0, #2D0F5E)
}

.frame {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 13.33333rem;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  will-change: transform
}

@media (min-width: 42.5em) {
  .frame {
    height: 22.22222rem
  }
}

.frame > * {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid hsla(0, 0%, 100%, .5);
  border-radius: 1px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.frame > :first-child {
  border-radius: 2px;
  -webkit-box-shadow: 0 .5rem 4rem 0 rgba(0, 0, 0, .5);
  box-shadow: 0 .5rem 4rem 0 rgba(0, 0, 0, .5)
}

.frame > :nth-child(2) {
  top: 0;
  right: 0;
  width: 3rem;
  -webkit-transform: translate3d(-1px, 0, -3rem) rotateY(90deg);
  transform: translate3d(-1px, 0, -3rem) rotateY(90deg);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  border-width: 3px;
  border-right-width: 9px
}

.frame > :nth-child(3) {
  top: 0;
  left: 0;
  width: 3rem;
  -webkit-transform: translate3d(1px, 0, -3rem) rotateY(-90deg);
  transform: translate3d(1px, 0, -3rem) rotateY(-90deg);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  border-width: 3px;
  border-left-width: 9px
}

.frames {
  padding-top: 2rem;
  padding-bottom: 3rem
}

@media (min-width: 42.5em) {
  .frames {
    padding-top: 4rem;
    padding-bottom: 5rem
  }
}

.frames__list {
  overflow: visible
}

.frames__item {
  -webkit-transform: perspective(2000px);
  transform: perspective(2000px)
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 2.5em !important;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI3Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTEuODI2LjE2NGMtLjE2NC0uMTY0LS40My0uMTY0LS41OTUgMEw2IDUuNDA0Ljc2LjE2NEMuNTk0IDAgLjMyNyAwIC4xNjMuMTY0IDAgLjMzIDAgLjU5NC4xNjMuNzZsNS41MyA1LjUyN2MuMDguMDgyLjE4NC4xMjMuMjk3LjEyMy4xMDIgMCAuMjE1LS4wNC4yOTctLjEyM0wxMS44MTUuNzZjLjE3NS0uMTY1LjE3NS0uNDMyLjAxLS41OTZ6Ii8+PC9zdmc+');
  background-position: center right 1em;
  background-repeat: no-repeat
}

.slider__frame {
  border-radius: .16667em;
  text-align: center;
  height: 150px;
  line-height: 150px;
  -webkit-box-shadow: inset 0 0 0 2px hsla(0, 0%, 100%, .5);
  box-shadow: inset 0 0 0 2px hsla(0, 0%, 100%, .5);
  color: #FFF;
  background: transparent;
  font-size: 1em;
  font-weight: 900
}

.slider__frame[class*=active] {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: linear-gradient(-45deg, #ED145B, #7B31F4)
}

.slider__arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 24px;
  height: 24px;
  margin-top: -9px;
  border-radius: 50%;
  background-color: #818999;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-box-shadow: 0 .5rem 4rem 0 rgba(0, 0, 0, .5);
  box-shadow: 0 .5rem 4rem 0 rgba(0, 0, 0, .5)
}

.slider__arrow:hover {
  background-color: #ED145B
}

.slider__arrow--next {
  right: 1.5rem
}

.slider__arrow--prev {
  left: 1.5rem
}

.slider__bullets {
  position: absolute;
  z-index: 2;
  bottom: 1.5rem;
  left: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.slider__bullet {
  background-color: hsla(0, 0%, 100%, .5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
  line-height: 0;
  -webkit-box-shadow: 0 .25em .5em 0 rgba(0, 0, 0, .1);
  box-shadow: 0 .25em .5em 0 rgba(0, 0, 0, .1);
  margin: 0 .25em
}

.slider__bullet:focus {
  outline: none
}

.slider__bullet:focus, .slider__bullet:hover {
  border: 2px solid #FFF;
  background-color: hsla(0, 0%, 100%, .5)
}

.slider__bullet[class*=active] {
  background-color: #FFF
}

.slider--big .slider__arrows {
  position: absolute;
  z-index: 2;
  bottom: 36px;
  width: 100%
}

@media (min-width: 42.5em) {
  .slider--big .slider__arrows {
    position: static
  }
}

.slider--big .slider__arrow {
  width: 46px;
  height: 46px;
  margin-top: -30px
}

@media (max-width: 42.4375em) {
  .slider--big .slider__arrow {
    position: static
  }
}

.slider--big .slider__arrow--next {
  right: 3rem
}

.slider--big .slider__arrow--prev {
  left: 3rem
}

.navbar:before {
  content: '';
  display: block;
  width: 100%;
  height: 15px;
  background: -webkit-gradient(linear, left top, right top, from(#ED145B), to(#7B31F4));
  background: linear-gradient(90deg, #ED145B 0, #7B31F4)
}

.navbar__wrapper {
  padding-top: 2rem
}

.navbar__menu {
  text-align: center
}

.navbar--variant .navbar__wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.navbar--variant .navbar__menu {
  text-align: right
}

@media (min-width: 42.5em) {
  .navbar--variant .navbar__menu {
    text-align: center
  }
}

.button {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.button:hover {
  -webkit-box-shadow: 0 .5rem 1.5rem 0 rgba(0, 0, 0, .2);
  box-shadow: 0 .5rem 1.5rem 0 rgba(0, 0, 0, .2)
}

.button__icon {
  opacity: .5
}

.header {
  position: relative
}

.header:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  width: 100vw;
  height: 100vw;
  background-image: radial-gradient(circle at center, #32333F 0, rgba(50, 51, 63, 0) 66.66%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.footer {
  text-align: center;
  background-color: #32333F
}

.footer__wrapper {
  font-size: .8em;
  padding-top: 3rem;
  padding-bottom: 3rem
}

.hidden {
  display: initial
}

@media (max-width: 42.4375em) {
  .hidden\@medium {
    display: none !important
  }
}

.visible {
  display: none
}

@media (max-width: 42.4375em) {
  .visible\@medium {
    display: initial !important
  }
}

.example {
  -webkit-box-shadow: 0 .5rem 1.5rem 0 rgba(5, 7, 11, .33);
  box-shadow: 0 .5rem 1.5rem 0 rgba(5, 7, 11, .33)
}

@media (min-width: 77.5em) {
  .example {
    width: calc(120% + 1.5rem);
    margin-left: -1.5rem
  }
}

.example__frame {
  padding: 1.5rem;
  border: 2px solid hsla(0, 0%, 100%, .1);
  border-bottom: 0;
  border-top-left-radius: .27778em;
  border-top-right-radius: .27778em
}

.example__toggle {
  display: block;
  width: 100%;
  border: 0;
  background-color: #32333F;
  margin: 0;
  padding: .5rem;
  text-align: left;
  color: inherit;
  border-radius: 0;
  outline: none;
  color: #969FB3;
  cursor: pointer;
  border-bottom-left-radius: .27778em !important;
  border-bottom-right-radius: .27778em !important;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.example__toggle:hover {
  color: #FFF;
  background-color: #32333F
}

.example__code {
  width: 100% !important;
  display: none;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  margin: 0 !important
}

.example__arrow:before {
  display: block;
  content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTIuMDE1IDdjNC43NTEgMCA4LjA2MyAzLjAxMiA5LjUwNCA0LjYzNi0xLjQwMSAxLjgzNy00LjcxMyA1LjM2NC05LjUwNCA1LjM2NC00LjQyIDAtNy45My0zLjUzNi05LjQ3OC01LjQwNyAxLjQ5My0xLjY0NyA0LjgxNy00LjU5MyA5LjQ3OC00LjU5M3ptMC0yYy03LjU2OSAwLTEyLjAxNSA2LjU1MS0xMi4wMTUgNi41NTFzNC44MzUgNy40NDkgMTIuMDE1IDcuNDQ5YzcuNzMzIDAgMTEuOTg1LTcuNDQ5IDExLjk4NS03LjQ0OXMtNC4yOTEtNi41NTEtMTEuOTg1LTYuNTUxem0tLjAxNSAzYy0yLjIwOSAwLTQgMS43OTItNCA0IDAgMi4yMDkgMS43OTEgNCA0IDRzNC0xLjc5MSA0LTRjMC0yLjIwOC0xLjc5MS00LTQtNHoiLz48L3N2Zz4=')
}

.example--active .example__code {
  display: block
}

.example--active .example__arrow:before {
  content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTkuNjA0IDIuNTYybC0zLjM0NiAzLjEzN2MtMS4yNy0uNDI4LTIuNjg2LS42OTktNC4yNDMtLjY5OS03LjU2OSAwLTEyLjAxNSA2LjU1MS0xMi4wMTUgNi41NTFzMS45MjggMi45NTEgNS4xNDYgNS4xMzhsLTIuOTExIDIuOTA5IDEuNDE0IDEuNDE0IDE3LjM3LTE3LjAzNS0xLjQxNS0xLjQxNXptLTYuMDE2IDUuNzc5Yy0zLjI4OC0xLjQ1My02LjY4MSAxLjkwOC01LjI2NSA1LjIwNmwtMS43MjYgMS43MDdjLTEuODE0LTEuMTYtMy4yMjUtMi42NS00LjA2LTMuNjYgMS40OTMtMS42NDggNC44MTctNC41OTQgOS40NzgtNC41OTQuOTI3IDAgMS43OTYuMTE5IDIuNjEuMzE1bC0xLjAzNyAxLjAyNnptLTIuODgzIDcuNDMxbDUuMDktNC45OTNjMS4wMTcgMy4xMTEtMi4wMDMgNi4wNjctNS4wOSA0Ljk5M3ptMTMuMjk1LTQuMjIxcy00LjI1MiA3LjQ0OS0xMS45ODUgNy40NDljLTEuMzc5IDAtMi42NjItLjI5MS0zLjg1MS0uNzM3bDEuNjE0LTEuNTgzYy43MTUuMTkzIDEuNDU4LjMyIDIuMjM3LjMyIDQuNzkxIDAgOC4xMDQtMy41MjcgOS41MDQtNS4zNjQtLjcyOS0uODIyLTEuOTU2LTEuOTktMy41ODctMi45NTJsMS40ODktMS40NmMyLjk4MiAxLjkgNC41NzkgNC4zMjcgNC41NzkgNC4zMjd6Ii8+PC9zdmc+')
}

.example--active .example__toggle {
  border-radius: 0 !important
}

.content > :not(:first-child) {
  margin-top: 1.5em;
  margin-bottom: 1em
}

.blockquote, .main__body blockquote {
  padding: 1rem 1.5rem;
  border: 1px solid #32333F;
  border-top: 5px solid #ED145B;
  -webkit-box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, .5);
  box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, .5)
}

.blockquote > *, .main__body blockquote > * {
  margin: 0
}

.select-menu {
  padding: 1.25em;
  text-transform: uppercase;
  font-size: .66667em;
  letter-spacing: .16667em;
  border: 0
}

.docs > * + * {
  border-top: 1px solid #32333F
}

@media (max-width: 42.4375em) {
  .docs__body > * + * {
    border-top: 1px solid #32333F
  }
}

.index > * + * {
  margin-top: 6.11111em
}

code[class*=language-], pre[class*=language-] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none
}

pre[class*=language-] {
  overflow: auto
}

:not(pre) > code[class*=language-] {
  white-space: normal
}

.token.block-comment, .token.cdata, .token.comment, .token.doctype, .token.prolog {
  color: #999
}

.token.punctuation {
  color: #C1CDE5
}

.token.attr-name, .token.boolean, .token.deleted, .token.namespace, .token.number, .token.tag {
  color: #D75D85
}

.token.function-name {
  color: #6196CC
}

.token.class-name, .token.constant, .token.function, .token.property, .token.symbol {
  color: #F8C555
}

.token.atrule, .token.builtin, .token.important, .token.keyword, .token.selector {
  color: #8867BE
}

.token.attr-value, .token.char, .token.regex, .token.string, .token.variable {
  color: #00D3CA
}

.token.entity, .token.operator, .token.url {
  color: #67CDCC
}

.token.bold, .token.important {
  font-weight: 700
}

.token.italic {
  font-style: italic
}

.token.entity {
  cursor: help
}

.token.inserted {
  color: green
}

pre.line-numbers {
  position: relative;
  padding-left: 3.7em;
  counter-reset: a
}

pre.line-numbers > code {
  position: relative;
  white-space: inherit
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid #32333F;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: a
}

.line-numbers-rows > span:before {
  content: counter(a);
  color: #32333F;
  display: block;
  padding-right: .8em;
  text-align: right
}
