/* Styles unashamedly taken from the source of https://glidejs.com/docs/ */

body {
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  background: #1B262C;
}

.glide {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.glide * {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

.glide__slides, .glide__track {
  overflow: hidden
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -ms-touch-action: pan-Y;
  touch-action: pan-Y;
  padding: 0;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  will-change: transform
}

.glide__slide, .glide__slides--dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.glide__slide {
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  white-space: normal;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent
}

.glide__slide a {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none
}

.glide__arrows, .glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.glide--rtl {
  direction: rtl
}

.glide {
  cursor: grabbing;
}

.glide__slides {
  margin: 0
}

.glide__arrow {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: 0
}

.glide--dragging {
  cursor: grabbing;
}

.panel {
  padding: 3.61111em 2em;
  background: -webkit-gradient(linear, left top, right top, from(#3E0C1C), to(#2D0F5E));
  background: linear-gradient(90deg, #3E0C1C 0, #2D0F5E)
}

.frame {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 13.33333rem;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  will-change: transform
}

@media (min-width: 42.5em) {
  .frame {
    height: 22.22222rem
  }
}

.frame > * {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid hsla(0, 0%, 100%, .5);
  border-radius: 1px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.frame > :first-child {
  border-radius: 2px;
  -webkit-box-shadow: 0 .5rem 4rem 0 rgba(0, 0, 0, .5);
  box-shadow: 0 .5rem 4rem 0 rgba(0, 0, 0, .5)
}

.frame > :nth-child(2) {
  top: 0;
  right: 0;
  width: 3rem;
  -webkit-transform: translate3d(-1px, 0, -3rem) rotateY(90deg);
  transform: translate3d(-1px, 0, -3rem) rotateY(90deg);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  border-width: 3px;
  border-right-width: 9px
}

.frame > :nth-child(3) {
  top: 0;
  left: 0;
  width: 3rem;
  -webkit-transform: translate3d(1px, 0, -3rem) rotateY(-90deg);
  transform: translate3d(1px, 0, -3rem) rotateY(-90deg);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  border-width: 3px;
  border-left-width: 9px
}

.frames {
  padding-top: 2rem;
  padding-bottom: 3rem
}

@media (min-width: 42.5em) {
  .frames {
    padding-top: 4rem;
    padding-bottom: 5rem
  }
}

.frames__list {
  overflow: visible
}

.frames__item {
  -webkit-transform: perspective(2000px);
  transform: perspective(2000px)
}

.slider__frame {
  border-radius: .16667em;
  text-align: center;
  height: 150px;
  line-height: 150px;
  -webkit-box-shadow: inset 0 0 0 2px hsla(0, 0%, 100%, .5);
  box-shadow: inset 0 0 0 2px hsla(0, 0%, 100%, .5);
  color: #FFF;
  background: transparent;
  font-size: 1em;
  font-weight: 900
}

.slider__frame[class*=active] {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: linear-gradient(-45deg, #ED145B, #7B31F4)
}

.slider__bullets {
  position: absolute;
  z-index: 2;
  bottom: 1.5rem;
  left: 50%;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.slider__bullet {
  background-color: hsla(0, 0%, 100%, .5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
  line-height: 0;
  -webkit-box-shadow: 0 .25em .5em 0 rgba(0, 0, 0, .1);
  box-shadow: 0 .25em .5em 0 rgba(0, 0, 0, .1);
  margin: 0 .25em
}

.slider__bullet:focus {
  outline: none
}

.slider__bullet:focus, .slider__bullet:hover {
  border: 2px solid #FFF;
  background-color: hsla(0, 0%, 100%, .5)
}

.slider__bullet[class*=active] {
  background-color: #FFF
}

.slider--big .slider__arrows {
  position: absolute;
  z-index: 2;
  bottom: 36px;
  width: 100%
}

@media (min-width: 42.5em) {
  .slider--big .slider__arrows {
    position: static
  }
}

.slider--big .slider__arrow {
  width: 46px;
  height: 46px;
  margin-top: -30px
}

@media (max-width: 42.4375em) {
  .slider--big .slider__arrow {
    position: static
  }
}

.slider--big .slider__arrow--next {
  right: 3rem
}

.slider--big .slider__arrow--prev {
  left: 3rem
}
