/* Potential fixes for an undesirable and intermittent flashing background bug. */
:global .glide__slide {
  /* Fix for flashing background image on slide */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

:global .slider__frame[class*=active] {
  z-index: 1;
}

.sliderArrow {
  position: absolute;
  padding: 12px;
  z-index: 1;
  margin-top: -9px;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.sliderArrow:hover {
  background-color: rgba(0, 0, 0, .04);
  transition: background-color .2s ease-in-out;
}

.sliderArrowNext {
  right: 1.5rem;
}

.slideArrowPrev {
  left: 1.5rem;
}
