/* Potential fixes for an undesirable and intermittent flashing background bug. */
:global .glide__slide {
  /* Fix for flashing background image on slide */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

:global .slider__frame[class*=active] {
  z-index: 1;
}

.sliderArrow {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 12px;
  background-color: #EEE;
  position: absolute;
  border-radius: 50px;
  top: 35%;
}

.sliderArrow:hover {
  background-color: #DEDEDE;
  transition: background-color .2s ease-in-out;
}

:global .Glide-rightArrow {
  right: 1.5rem;
  padding-left: 14px;
}

:global .Glide-leftArrow {
  left: 1.5rem;
  padding-right: 14px;
}
